mixin Clients(param={})
  .clients
    .clients__title-sm.title-sm Более 130 бутиков и магазинов уже арендуют у нас помещения
    .clients__content
      .clients__slider
        .swiper-wrapper 
          .swiper-slide
            +Clients-card({
              imgOne: true
            })
          .swiper-slide
            +Clients-card({
              imgTwo: true
            })
          .swiper-slide
            +Clients-card({
              imgThree: true
            })
      ul.clients__list.list
        li Якорные арендаторы - Лента, Детский Мир, Технопарк, Модис, Familia, Читай город, Тутанхамон, Л'Этуаль
        li Бренды - EWA, Artigli, Gerzedo, Goergo, Du monde, Petek, Neri Karra, Ledy Collection, Paolo Conte, P'Cont, VINZER, Ace, Tonnelli, Milavitsa, и др.
        li Магазины спортивной одежды и инвентаря: Адреналин, Спорт Лайн
        li Зона фудкорта - Burger King, Империя вкуса, Про Кофий, Добрая сдоба
        li Салоны связи: Билайн, Мегафон, YOTA, Связной, Теле2
        li Зоосад, аптека «Здесь аптека», «Арт-оптика», Fresh Оптика, ковры, салоны штор, текстиль Missis Hatson и Home TEX, салон Арт-Самовар, посуда, подарки, картины, сувениры и другие.