.section {
  margin-bottom: 180px;
}
.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0%;
}
.title-sm {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0%;
}
.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0%;
}
.container {
  padding: 40px 10px;
  max-width: 1780px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.list {
  li {
    position: relative;
    padding-left: 13px;
    &::before {
      content: '';
      width: 6px;
      height: 6px;
      background-color: rgb(205, 59, 49);
      border-radius: 50%;
      display: flex;
      position: absolute;
      top: 10px;
      left: 0;
    }
  }
}
