mixin Clients-card(param={})
    .clients-card   
      if(param.imgOne)
        img(src="/assets/img/categories/rent/shop-1.png", alt="")
      if(param.imgTwo)
        img(src="/assets/img/categories/rent/shop-2.png", alt="")
      if(param.imgThree)
        img(src="/assets/img/categories/rent/shop-3.png", alt="")