extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    div(style="display: flex; gap: 50px")#ui-container
        div.t-main-left
            ul.t-main-left-list
                li
                    button(data-tab="1") Typography
                li
                    button(data-tab="2") Btn
                li
                    button(data-tab="4") Input
                li
                    button(data-tab="8") Modal
                li
                    button(data-tab="form") Form
        .t-tabs(style="box-shadow: -10px 0 10px -10px #BABABA; width: 100%; min-height: 100vh; padding: 15px;")
            .tab.tab-1
                include ../components/ui/Typography/examples
            .tab.tab-2
                include ../components/ui/Btn/examples
            .tab.tab-4(style="display: block; padding: 50px;")
                include ../components/ui/Input/examples/examples
            .tab.tab-8
                include ../components/ui/MyModal/examples
            .tab.tab-form
                include ../components/ui/Form/example
