.banner {
  display: flex;
  gap: 30px;
  &__img {
    // max-width: 1164px;
    max-width: 60.63vw;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    width: calc(100% - 60.63vw);
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__title-sm {
    margin-bottom: 33px;
  }
  &__subtitle {
    &:not(:last-child) {
      margin-bottom: 17px;
    }
    &:last-child {
      margin-top: auto;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__download {
    svg {
      width: 32px;
      height: 32px;
      fill: #151516;
    }
  }
  @include xl {
    flex-direction: column;
    &__img {
      width: 100%;
      max-width: 100%;
    }
    &__content {
      width: 100%;
    }
  }
}
