mixin Banner(param={})
  .banner
    .banner__img
      img(src="/assets/img/categories/rent/banner.png", alt="banner")
    .banner__content 
      .banner__title.title Аренда в ТУЦ “Сарафан”
      .banner__subtitle.subtitle Торговый центр «Сарафан», расположенный по адресу: г. Тула, ул. Путейская, д.5 (Площадь Московского вокзала), предлагает помещения в аренду от собственника от 25 до 1000 кв. м.
      a(href="#").banner__download Скачать презентацию
        +icon('download')
      .banner__title-sm.title-sm Преимущества аренды в нашем торговом центре:
      ul.banner__list 
        li ТЦ «Сарафан» находится в 5 минутах езды от центра города на площади Московского вокзала на одной из самых оживленных улиц города – Красноармейский проспект.
        li Рядом жилой массив, пересечение основных транспортных и пешеходных потоков –конечная остановка общественного транспорта, железнодорожный вокзал.
        li На территории ТЦ «Сарафан» есть бесплатная парковка для клиентов, более 500 машиномест, удобный подъезд.
        li Ежедневно наш ТЦ посещает порядка 10 000 тысяч человек различной целевой аудитории
        li Демократичные цены за аренду площади
        li У нас Вы можете арендовать площадь под магазины белья, одежды и обуви, салоны, точки общепита и др. 
      .banner__subtitle.subtitle Открытие торговой точки в одном из оживленных мест города обеспечит доходность, развитие и процветание Вашего бизнеса.
